@import url("style.css");


#cart-container-section {
    padding: 20px 0;
}

.gkc-cart-total-container {
    padding: 10px 20px 10px 0;
}

.gkc-cart-total-container h3 {
    text-align: right;
    color: var(--gk-color-font-secondary);
    font-size: 16px;
}

.gkc-cart-item-container img {
    height: 78px;
    width: 78px;
}

.gkc-cart-item-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

}

.gkc-cart-item-details-left {
    display: flex;
}


.gkc-cart-item-detail-quantity {
    display: flex;
    color: var(--gk-color-btn-primary);
    font-size: 16px;
    font-weight: 700;
}

.gkc-cart-item-detail-quantity p{
    color: var(--gk-color-font-primary);
    font-size: 16px;
    font-weight: 700;
    margin: 0 5px;
}

.gkc-btn-quantity{
    cursor: pointer;
}

.gkc-cart-item-details-left h3 {
    color: var(--gk-color-font-primary);
    font-size: 12px;
    margin-top: 10px;
}

.gkc-cart-item-details-right h3{
    color: var(--gk-color-font-secondary);
    font-size: 12px;
    margin-top: 10px;
}



