
#cart-container {
    padding: 20px 0;
}

.cart-total-container {
    padding: 10px 20px 10px 0;
}

.cart-total-container h3 {
    text-align: right;
    color: #0CAF1D;
    font-size: 16px;
}

.cart-item-container img {
    height: 78px;
    width: 78px;
}

.cart-item-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

}

.cart-item-details-left {
    display: flex;
}


.cart-item-detail-quantity {
    display: flex;
    color:#3483fa;
    font-size: 16px;
    font-weight: 700;
}

.cart-item-detail-quantity p{
    color:#636363;
    font-size: 16px;
    font-weight: 700;
    margin: 0 5px;
}

.btn-quantity{
    cursor: pointer;
}

.cart-item-details-left h3 {
    color: #636363;
    font-size: 12px;
    margin-top: 10px;
}

.cart-item-details-right h3{
    color: #0CAF1D;
    font-size: 12px;
    margin-top: 10px;
}



