
#cart-container {
    padding: 20px 0;
}

.cart-total-container {
    padding: 10px 20px 10px 0;
}

.cart-total-container h3 {
    text-align: right;
    color: #0CAF1D;
    font-size: 16px;
}

.cart-item-container img {
    height: 78px;
    width: 78px;
}

.cart-item-container {
    display: flex;
    
}

.cart-item-details{
    display: flex;
    justify-content: space-between;
    
    
}

.cart-item-detail-quantity {
    display: flex;
}


