@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

#product-details {
    padding: 20px 0;
}
.product-detail-top{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.product-detail-top img {
    width: 220px;
}

.product-detail-bottom {
    padding: 10px 20px 20px 20px;
}

.product-detail-bottom h3 {
    color: #0CAF1D;
    font-size: 20px;

}

.product-detail-bottom h4 {
    color: #636363;
    font-size: 12px;
}

.product-detail-bottom p {
    color: #636363;
    font-size: 12px;
    font-weight: 400px;
    margin-top: 10px 0;
}

.category{
    padding: 0 20px;
    background-color: #636363;
    color: #fff;
    height: 30px;
    width: 107px;
    font-size: 12px;
    font-weight: 700px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.category-container {
    display: flex;
    padding: 0px 20px 20px 20px;
}