@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --gk-color-bg-primary: #e8e8e8;
    --gk-color-bg-secondary: #ffe500;
    --gk-color-bg-terciary: #636363;

    --gk-color-card-bg: #fff;
    --gk-color-card-bg-border: #d9d9d9;

    --gk-color-btn-primary: #3483fa;
    --gk-color-btn-inverse: #fff;

    --gk-color-font-primary: #636363;
    --gk-color-font-secondary: #0caf1d;
    --gk-color-font-tertiary: #fff;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

html, body {
    background-color: var(--gk-color-bg-primary);
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

header {
    background-color: var(--gk-color-bg-secondary);
    height: 70px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gk-color-font-primary);
}

.gkc-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.gkc-card {
    background-color: var(--gk-color-card-bg);
    border-radius: 4px;
    border: 1px solid var(--gk-color-card-bg-border);
}

.gkc-mb20 {
    margin-bottom: 20px;
}


.gkc-btn {
    height: 42px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gkc-btn-blue {
    background-color: var(--gk-color-btn-primary);
    color: var(--gk-color-btn-inverse);
}

.gkc-btn-white {
    background-color: var(--gk-color-btn-inverse);
    color: var(--gk-color-btn-primary);
    border: 1px solid var(--gk-color-btn-primary);
}

.gkc-btn-container {
    width: 220px;
    display: grid;
    grid-gap:20px;
}

.gkc-line-bottom {
    border-bottom: 1px solid var(--gk-color-card-bg-border);
}